* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 16px/1.05em sans-serif;
  color: #666;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 0.4em;
  /* border-bottom: 0.2em solid black; */
  background-color: blue;
  color: pink;
}

h2 {
  font-size: 0.7em;
  text-transform: uppercase;
  background-color: pink;
  color: blue;
}

p {
  font-size: 0.8em;
}

ul {
  margin: 0;
  padding: 0 0 0 14px;
}

li {
  list-style-type: square;
}

a,
a:hover,
a:active,
a:visited {
  color: #999;
  background-color: yellow;
}

.root {
  overflow: hidden;
  padding: 1em;
}

.list-section {
  position: relative;
  float: left;
  width: 25%;
  padding-bottom: 1em;
}

.name {
  font-size: 0.8em;
  /* color: pink; */
  /* color: fuchsia; */
  color: blue;
}

.platform {
  font-size: 0.7em;
  color: #999;
  background-color: yellow;
}

.comment,
.date,
.source {
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  color: #999;
}

.source {
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.source a {
  background-color: inherit;
}

.about {
  clear: both;
}

[data-compose] {
  width: 100%;
  font-size: 0.8em;
  margin-bottom: 1em;
}

[data-compose] label {
  display: block;
  padding-bottom: 0.4em;
}

[data-compose] input,
[data-compose] textarea,
[data-compose] select {
  display: block;
  width: 100%;
  font-size: 1.5em;
  line-height: 1.5;
}

[data-compose] input,
[data-compose] textarea {
  padding: .4em .5em .4em .5em;
}

[data-compose] textarea {
  height: 8em;
}

[data-compose] select {
  padding: .6em 1.4em .5em .8em;
}

[data-compose] [name="result"] {
  font-family: monospace,monospace;
  -webkit-user-select: all;
  user-select: all;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
  .list-section {
    width: 100%;
    clear: both;
  }
}
